<div class="home-body">
    <h1>Bienvenue dans Epic Portals!</h1>

    <p><span class="bold">Epic portals</span> est un jeu d'exploration et de collecte de ressources, où des explorateurs s'aventurent dans de
        lointaines contrées en voyageant au moyen de portails magiques</p>

    <p>Explorez, récoltez, combatez, fabriquez pour atteindre les secrets de ce monde et la gloire ultime.</p>
    <p><button class="btn btn-primary" routerLink="/registering" *ngIf="!isLogged()">Commencer à jouer</button></p>
</div>