<form class="form-registering" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <div class="container-fluid">
        <h2 class="form-registering-heading">S'inscrire</h2>
        <div *ngIf="invalidForm" class="alert alert-danger">Invalid username, mail or password.</div>
        <br />
        <label for="mail" class="sr-only">Adresse mail</label>
        <input type="email" id="mail" name="mail" ngModel class="form-control" placeholder="Adresse mail" required
            autofocus>
        <br />
        <label for="name" class="sr-only">Pseudo</label>
        <input type="text" id="name" name="name" ngModel class="form-control" placeholder="Pseudo" required
            autofocus>
        <br />
        <label for="password" class="sr-only">Mot de passe</label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Mot de passe"
            required>
        <br />
        <label for="passwordalpha" class="sr-only">Mot de passe entrée alpha</label>
        <input type="passwordalpha" id="passwordalpha" name="passwordalpha" ngModel class="form-control" placeholder="Mot de passe alpha"
            required>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>
    </div>
</form>

<div class="div-center"><a routerLink="/login">déja inscrit ?</a></div>